# normalize text files
* text=auto

# keep windows scripts in CRLF
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

# keep source in LF
*.js  text eol=lf
*.sql text eol=lf
*.md  text eol=lf

# keep git meta files in CRLF (working tree)
.gitattributes text eol=crlf
.gitignore    text eol=crlf
# pin editorconfig in CRLF (working tree)
.editorconfig text eol=crlf
